{% extends "base.html" %}

{% block title %}
{{ category.cat_name }} - Magical Realm eBay
{% endblock %}

{% load static %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>
<link rel="stylesheet" href="{% static 'css/item_cards_style.css' %}" />

<h2>Items in Category: {{ category.cat_name }}</h2>

{% if items %}
<div id="items-wrapper">
    {% for item in items %}
    <div id="container">
        <div class="product-details">
          <h1>{{ item.item_name.title }}</h1>
          <div class="category-details">{{ item.category.cat_name }}</div>
    
          <p class="information">{{ item.description }}</p>
    
          {% if item.quantity > 0 %}
          <div class="control">
              <a href="{% url 'add_to_cart' item.id %}" class="btn">
                  <span class="price">
                      <i class="fa fa-coins"></i> {{ item.price }}
                  </span>
                  <span class="shopping-cart">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </span>
                  <span class="buy">Get now</span>
              </a>
          </div>
          {% else %}
          <p class="out-of-stock">Out of Stock</p>
          {% endif %}

        </div>
    
        <div class="product-image">
          <img src="{{ item.image.url }}" alt="item image" />
    
          <div class="info">
            <h2>Details</h2>
            <ul>
              <li><strong>Owner : </strong>{{ item.owner }}</li>
              <li><strong>Price : </strong>{{ item.price }} Gold</li>
              <li>
                <strong>Rarity: </strong>
                <span
                  class="{% if item.rarity == 'N' %}rarity-normal{% elif item.rarity == 'M' %}rarity-magic {% elif item.rarity == 'R' %}rarity-rare{% elif item.rarity == 'S' %}rarity-set {% elif item.rarity == 'U' %}rarity-unique{% endif %}"
                >
                  {{ item.get_rarity_display }}
                </span>
              </li>
              <li><strong>Days online: </strong>{{ item.days_online }}</li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% else %}
<p>No items found in this category.</p>
{% endif %}
{% endblock %}