{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/change_password_card_style.css' %}" />

<div id="container">
    <h2>Change Your Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
        <a href="{% url 'user_profile' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
